<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/templates/camera/cameraPopup.css", rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/templates/camera/cameraPopup.js"></script>
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function(){
            $.getScript("/templates/camera/cameraPopup.js",function(){
                onLoad();
            });
        });
    </script>
    <title>Camera Feed</title>
</head>
<body>
    <div class='camorder'>
        <button onclick=backOneMode()>Past Mode</button>
        <!-- <div class='cameramode'>
            <form id="camera_mode" method="POST" action="#">
                <input type="number" name="camera_mode_data" id="camera_mode_data" placeholder="Message" />
                <input type="submit" value="Switch Camera Mode (0, 1, or 2)" />
            </form>
        </div> -->
        <p id='test'>0</p>
        <div class='camerafeed'>
            <img id="cam" src=""/>
        </div>
        <div class="alllogs">
            <div id="log"></div>
        </div>
        <button onclick=nextOneMode()>Next Mode</button>
    </div>
</body>
</html>