<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/templates/camera/cameraPopup.css", rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/templates/camera/cameraPopup.js"></script>
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function(){
            $.getScript("/templates/camera/cameraPopup.js",function(){
                onLoad();
            });
        });
    </script>
    <title>Camera Feed</title>
</head>
<body>
    <div class='camorder'>
        <button onclick=backOneMode()>Past Mode</button>
        <div class='camerafeed'>
            <img id="cam" src=""/>
        </div>
        <button onclick=nextOneMode()>Next Mode</button>
    </div>
    <p id='test'>0</p>
</body>
</html>